.b-form {
	opacity: 1;
	visibility: visible;
}

.b-form__container {
	width: 569px;
	position: relative;
	top: 0px;
	left: 50%;
	margin-top: 5px;
	margin-left: -333px;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	padding-left: 20px;
	padding-right: 53px;
	padding-top: 45px;
}

.b-form__field-title {
	font-size: 13px;
	color: #888888;
	font-family: Arial, sans-serif;
	margin-bottom: 12px;
}

.b-form__field-block {
	width: 560px;
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 20px;
	position: relative;
	vertical-align: top;
	float: left;
}

.b-form__field-input {
	width: 100%;
	height: 37px;
	border: solid 1px #cbcbcb;
	padding-left: 12px;
	padding-right: 12px;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	font-family: Arial, sans-serif;
}

.b-form__field-textarea {
	width: 100%;
	height: 120px;
	border: solid 1px #cbcbcb;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
	font-family: Arial, sans-serif;
}

.b-form__field-textarea {
	resize: none;
}

.b-form__text-inputs {
	/*width: 600px;*/
}

.b-form__field-input:focus {
	-webkit-box-shadow: 0 0 14px rgba(249,196,20,1);
	-moz-box-shadow: 0 0 14px rgba(249,196,20,1);
	box-shadow: 0 0 14px rgba(249,196,20,1);
}

.b-form__field-input::-ms-clear {
	display: none;
}
.b-form__field-textarea:focus {
	-webkit-box-shadow: 0 0 14px rgba(249,196,20,1);
	-moz-box-shadow: 0 0 14px rgba(249,196,20,1);
	box-shadow: 0 0 14px rgba(249,196,20,1);
}

.b-form__field-block-bgschema {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	margin-right: 30px;
}

.b-form__button {
	width: 642px;
	height: 62px;
	background: #fecb04;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	line-height: 62px;
	text-align: center;
	text-shadow: 1px 1px rgba(255,255,255,.36);
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-left: -20px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	cursor: pointer;
}

.b-form__button:active {
	line-height: 64px;
}

.b-form__field-block_type_desc {
	margin-bottom: 15px;
}

.b-form__field-block-detail {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	margin-right: 30px;
}

.b-form__field-block-organization {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	margin-right: 30px;
}

.b-form__field-block-translit {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	margin-right: 30px;
	margin-top: -30px;
}

.b-form__field-label {
	display: block;
}

.b-form__field-input-file {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(20);
	letter-spacing: 10em;
	-ms-transform: scale(20);
	opacity: 0;
	cursor: pointer
}

.b-form__ticket-file,
.b-form__logo-file,
.b-form__logo-ios-file,
.b-form__button-ios-file {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.b-form__ticket-file-button,
.b-form__logo-file-button,
.b-form__logo-ios-file-button,
.b-form__button-ios-file-button {
	height: 100%;
	width: 100%;
	border: solid 1px #cbcbcb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	background: none;
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 21px;
	padding: 7px;
}

.b-form__field-label {
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 5px;
}

.b-form__field-checkbox {
	margin-right: 7px;
	position: relative;
	top: -1px;
}

.b-form__warning {
	position: absolute;
	bottom: 77px;
	font-size: 14px;
	color: red;
}

.b-form__form_hide_yes {
	display: none;
}

.b-form__field-input_error_yes {
	border: solid 1px red;
}